:root {
  --light-bg-colour: #515151;
  --main-bg-colour: #2c2c2c;
  --dark-bg-colour: #1a1a1a;
  --primary-text-colour: #ffa3a3;
  --secondary-text-colour: #ff6767;
  --online: #90ee90;
  --offline: #5c5c5c;
}