html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--dark-bg-colour);
  color: var(--light-text-colour);
}
::selection {
  background: var(--highlight-colour);
}

* {
  box-sizing: border-box;
}

.grecaptcha-badge {
  display: none;
}