.navbar_container {
  background-color: var(--main-bg-colour);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  width: 100%;
  top: 0;
  filter: drop-shadow(2px 4px 6px black);
  z-index: 100;
}

.navbar_container * {
  margin: 0;
}

.small {
  display: none;
}
@media (max-width: 700px) {
  .big {
    display: none;
  }
  .small {
    display: block;
  }
}
.name {
  margin-left: 10px;
  font-weight: bold;
  color: var(--primary-text-colour);
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}



.link {
  text-decoration: none;
}